* {
    box-sizing: border-box;
}

.top-background-retirement {
    height: 330px;
    width: 100%;
    // font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-family: Snell Roundhand;
    // background-image: url("../images/flower-background-pickar-pic-small-device.png");
}

.top-background-block-border {
    height: 25px;
    width: 100%;
    background-color: #619698;
}

.bottom-background-block {
    background-color: #619698;
}

.retirement-party-text {
    font-size: 60px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding-top: 15px;
}

.honoring-text {
    font-size: 30px;
    color: #000000;
    text-align: center;
    padding-top: 20px;
}

.name-text {
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-center {
    text-align: center;
}

.hotel-map-block {
    height: 200px;
    width: 80%;
}

.hotel-item-block {
    height: 150px;
    margin-top: 20px;
}

.hotel-name {
    font-weight: bold;
    font-size: 24px;
}

ul {
    list-style-type: none;
}

.navigation-item {
    height:32px;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
    color: #4CAF50;
}

.navigation-item-text {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

/*TODO: check whether body(from styles/style-body-right.css) needs to be changed*/
body {
    /* below to overwrite user agent stylesheet*/
    margin: 0;
}

.bottom-container {
    width: 100%;
    height: 80px;
}

.section {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 120px;
}

.section-title {
    font-size: 36px;
    // font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-family: Snell Roundhand;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding-bottom: 10px;
}

.section-subtitle {
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #000000;
    text-align: center;
}

.section-content {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #000000;
}
