* {
    box-sizing: border-box;
}

.top-background-retirement {
    height: 290px;
    width: 100%;
    // font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-family: Snell Roundhand;
    // background-image: url("../images/flower-background-pickar-pic-small-device.png");
}

.top-background-flower-top {
    height: 50px;
    width: 100%;
    background-image: url("../images/flower-single.png");
    background-repeat: no-repeat;
}

.retirement-party-text {
    font-size: 25px;
    color: #045FB4;
    text-align: center;
    padding-top: 35px;
}

.honoring-text {
    font-size: 20px;
    color: #045FB4;
    text-align: center;
    padding-top: 50px;
}

.name-text {
    font-size: 30px;
    color: #045FB4;
    text-align: center;
    padding-top: 40px;
}

ul {
    list-style-type: none;
}

.navigation-item {
    height:32px;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
    color: #4CAF50;
}

.navigation-item-text {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

/*TODO: check whether body(from styles/style-body-right.css) needs to be changed*/
body {
    /* below to overwrite user agent stylesheet*/
    margin: 0;
}

/*Responsive web design: Mobile Styles*/
/* Notice: we display main-navi-icon only when whole browser screen is less than 800px*/
/* which means the right iframe body part has only 100px considering side-left-bar is 600px*/
@media (max-width: 500px) {
    .html {
        height: 100%;
    }
    
    .body {
        min-height: 100%;
        -webkit-overflow-scrolling: touch;
    }

    #new-wrapper {
        height: 100%;
	overflow-y: scroll;
    }

    .main-navi-icon {
	display: block;
	position: fixed;
	right: 0px;
	top: 0px;
	height: 40px;
	width: 45px;
	cursor: pointer;
	background-image: url("../images/mobile-main-navi-icon.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 1000;
    }

    .sidebar-right-small-device-off {
        display: none;
    }

    .sidebar-right-small-device-on {
	top: 0;
	right: 0;
        position: fixed;
        z-index: 500;
        overflow-y: hidden;
        width: 290px;
        height: 100%;
        background-color: #045FB4;
    }

    .sidebar-right-small-device-on ul {
        list-style-type: none;
	margin-top: 8px;
    }

    .sidebar-right-small-device-on li {
        padding-top: 16px;
    }

    .sidebar-right-small-device-on a:hover, a:active {
        text-decoration: none;
        color: #4CAF50;
    }

    .sidebar-right-small-device-on a:link, a:visited {
        text-decoration: none;
        color: #848484;
        font-weight: bold;
    }

    .sidebar-right-text {
        color: #A4A4A4;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-align: left;
    }

    .profile {
	width: 100%;
	height: 200px;
    }

    .profile-picture {
	padding-top: 15px;
	height: 120px;
    }

    .profile-picture-image {
	margin: auto;
	width: 110px;
	height: 110px;
	background-image: url("../images/pickar-profile-picture-round.png");
	background-size: 100% 100%;
	background-repeat: no-repeat:
	z-index: 800;
    }

    .profile-title {
	padding-left: 40px;
	padding-top: 8px;
	height: 80px;
    }

    .profile-name {
	text-align: left;
	padding-left: 48px;
	font-size: 24px;
	font-weight: bold;
    }

    .profile-email {
	padding-top: 10px;
	text-align: left;
	font-size: 16px;
    }

    .body-right {
        top: 0;
        left: 0;
	right: 0;
        position: absolute;
        overflow-y: auto;
        width: 100%;
        height: 100%;
    }

    .bottom-container {
        width: 100%;
        height: 40px;
    }

    .top-background-news-page {
        height: 220px;
        width: 100%;
        background-image: url("../images/flower-background-pickar-pic-small-device.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .top-background-courses-page {
	height: 220px;
	width: 100%;
	background-image: url("../images/flower-background-pickar-pic-small-device.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    }

    .top-background-about-me-page {
	height: 220px;
	width: 100%;
	background-image: url("../images/flower-background-pickar-pic-small-device.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    }

    .top-background-useful-links-page {
	height: 220px;
	width: 100%;
	background-image: url("../images/flower-background-pickar-pic-small-device.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    }

    .top-background-gardener-page {
	height: 220px;
	width: 100%;
	background-image: url("../images/flower-background-pickar-pic-small-device.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    }

    .section {
	margin-top: 15px;
	padding-top: 15px;
	padding-left: 30px;
	padding-right: 30px;
    }

    .section-title {
	font-size: 26px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #045FB4;
    }

    .section-subtitle {
	padding-top: 6px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #0174DF;
    }

    .section-content {
	padding-top: 5px;
	font-size: 16px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #848484;
    }

    .garden-pic-container {
	width: 90%;
	height: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
    }

    .garden-pic {
	width: 100%;
	border-radius: 10px;
    }

    .previous, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 6px;
	margin-top: -6px;
	color: white;
	font-weight: bold;
	font-size: 10px;
	transition: 0.6s ease;
	border-radius: 0 2px 2px 0;
	user-select: none;
    }

    .next {
	right: 0;
	border-radius: 2px 0 0 2px;
    }

    .previous:hover, .next:hover {
	background-color: rgba(0,0,0,0.5);
    }

    .image-select-dot {
	text-align: center;
	padding-top: 10px;
    }

    .select-dot {
	cursor: pointer;
	height: 4px;
	width: 4px;
	margin: 0 1px;
	background-color: #BBBBBB;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
    }

    .active, .select-dot:hover {
	background-color: #4C4C4C;
    }

    .music-box {
        display: none;
    }

    .lecture-container {
	margin-top: 10px;
	width: 100%;
	height: 500px;
	font-size: 16px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #848484;
    }

    .lecture-sub-container-1 {
	display: inline-block;
	width: 100%;
	height: 40%;
	padding-top: 10px;
    }

    .lecture-sub-container-2 {
	display: inline-block;
	width: 100%;
	height: 60%;
    }

    .lecture-text-container {
	padding: 8x 15px 5px 15px;
    }

    .lecture-title-container {
	width: 100%;
    }

    .lecture-title-text {
	font-weight: bold;
	color: #0174DF;
    }

    .lecture-title-icon {
	display: inline-block;
	margin-right: 6px;
	width: 16px;
	height: 16px;
	background-image: url("../images/lectures/blue-book-icon.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
    }

    .lecture-attachment-container {
	margin-bottom: 0px;
	padding-left: 15px;
    }

    .lecture-attachment-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url("../images/lectures/yellow-file-icon.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
    }

    .lecture-pic-container {
        padding: 15px 15px 20px 15px;
        width: 100%;
        height: 100%;
    }

    .moving-text {
	color: #848484;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	position: relative;
	animation-name: news-moving-text;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	/* for Safari 4.0-8.0: */
	-webkit-animation-name: news-moving-text;
	-webkit-animatinn-duration: 4s;
	-webkit-animation-fill-mode: forwards;
    }

    #moving-text-1 {
        animation-timing-function: linear;
    }

    #moving-text-2 {
        animation-timing-function: ease;
    }

    #moving-text-3 {
        animation-timing-function: ease-in;
    }

    #moving-text-4 {
        animation-timing-function: ease-out;
    }

    /* Safari 4.0-8.0 */
    @-webkit-keyframes news-moving-text {
        from {left: 0px;}
        to {left: 20px;}
    }

    /* Standard syntax */
    @keyframes news-moving-text {
        from {left: 0px;}
        to {left: 20px;}
    }
}
/*Notice: It hasn't been decided whether to have design for below (middle-size devices)*/
/*Will comment for now, and finish code implemenation when decided.*/
/*
@media (min-width: 451px) and (max-width: 800px) {
    .main-navi-icon {
        display: block;
        position: fixed;
        right: 0px;
        top: 0px;
        height: 40px;
        width: 45px;
        cursor: pointer;
        background-image: url("../images/mobile-main-navi-icon.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 1000;
    }
    .sidebar-right-small-device-off {
        display: none;
    }
    .sidebar-right-small-device-on {
        top: 0;
        right: 0;
        position: fixed;
        z-index: 500;
        overflow-y: auto;
        width: 280px;
        height: 500px;
        background-color: #045FB4;
    }
    .sidebar-right-small-device-on ul {
        list-style-type: none;
        margin-top: 5px;
    }
    .sidebar-right-small-device-on li {
        padding-top: 8px;
    }
    .sidebar-right-small-device-on a:hover, a:active {
        text-decoration: none;
        color: #4CAF50;
    }
    .sidebar-right-small-device-on a:link, a:visited {
        text-decoration: none;
        color: #848484;
        font-weight: bold;
    }
    .sidebar-right-text {
        padding-top: 20px;
        color: #A4A4A4;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-size: 18px;
        text-align: left;
    }
    .profile {
        width: 100%;
        height: 200px;
    }
    .profile-picture {
        padding-top: 8px;
        height: 120px;
    }
    .profile-picture-image {
        margin: auto;
        width: 110px;
        height: 110px;
        background-image: url("../images/pickar-profile-picture-round.png");
        background-size: 100% 100%;
        background-repeat: no-repeat:
        z-index: 800;
    }
    .profile-title {
        padding-left: 40px;
        padding-top: 8px;
        height: 80px;
    }
    .profile-name {
        text-align: left;
        padding-left: 48px;
        font-size: 20px;
        font-weight: bold;
    }
    .profile-email {
        padding-top: 8px;
        text-align: left;
        font-size: 16px;
    }
    .body-right {
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        overflow-y: auto;
        width: 100%;
        height: 100%;
    }
    .top-background-news-page {
        height: 275px;
        width: 100%;
        background-image: url("../images/flower-background-pickar-pic.jpeg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .top-background-courses-page {
	height: 275px;
	width: 100%;
	background-image: url("../images/flower-background-pickar-pic.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    }
    .top-background-about-me-page {
	height: 275px;
	width: 100%;
	background-image: url("../images/flower-background-pickar-pic.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    }
    .top-background-useful-links-page {
	height: 275px;
	width: 100%;
	background-image: url("../images/flower-background-pickar-pic.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    }
    .top-background-gardener-page {
	height: 275px;
	width: 100%;
	background-image: url("../images/flower-background-pickar-pic.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    }
    .section {
	margin-top: 25px;
	padding-top: 20px;
	padding-left: 65px;
	padding-right: 65px;
    }
    .section-title {
	font-size: 26px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #045FB4;
    }
    .section-subtitle {
	padding-top: 6px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #0174DF;
    }
    .section-content {
	padding-top: 5px;
	font-size: 15px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #848484;
    }
    .moving-text {
	color: #848484;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	position: relative;
	animation-name: news-moving-text;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	// for Safari 4.0-8.0:
	-webkit-animation-name: news-moving-text;
	-webkit-animatinn-duration: 4s;
	-webkit-animation-fill-mode: forwards;
    }
    #moving-text-1 {
        animation-timing-function: linear;
    }
    #moving-text-2 {
        animation-timing-function: ease;
    }
    #moving-text-3 {
        animation-timing-function: ease-in;
    }
    #moving-text-4 {
        animation-timing-function: ease-out;
    }
    // Safari 4.0-8.0
    @-webkit-keyframes news-moving-text {
    from {left: 0px;}
        to {left: 50px;}
    }
    // Standard syntax
    @keyframes news-moving-text {
        from {left: 0px;}
        to {left: 50px;}
    }
    .lecture-container {
	margin-top: 30px;
	width: 100%;
	height: 350px;
	font-size: 16.5px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #848484;
    }
    .lecture-sub-container-1 {
	display: inline-block;
	width: 50%;
	height: 100%;
	float: left;
	padding: 10px;
    }
    .lecture-sub-container-2 {
	display: inline-block;
	width: 50%;
	height: 100%;
	float: right;
	padding: 10px;
    }
    .lecture-text-container {
	padding: 50px 20px 20px 10px;
    }
    .lecture-title-container {
	width: 100%;
    }
    .lecture-title-text {
	font-size: 24px;
	font-weight: bold;
	color: #0174DF;
    }
    .lecture-title-icon {
	display: inline-block;
	margin-right: 8px;
	width: 26px;
	height: 26px;
	background-image: url("../images/lectures/blue-book-icon.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
    }
    .lecture-attachment-container {
	margin-bottom: 0px;
    }
    a.lecture-attachment-link {
	margin-left: 10px;
	text-decoration: none;
	decoration: none;
    }
    .lecture-attachment-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url("../images/lectures/yellow-file-icon.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
    }
    .lecture-pic-container {
	padding: 15px;
	width: 100%;
	height: 100%;
    }
}
*/

/*Responsive web design: Desktop Styles*/
@media (min-width: 501px) {
    .main-navi-icon {
	display: none;
    }

    .sidebar-right-small-device-off {
        display: none;
    }

    .bottom-container {
        width: 100%;
	height: 80px;
    }

    .top-background-news-page {
	height: 275px;
	width: 100%;
	background-image: url("../images/flower-background-pickar-pic.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    }

    .top-background-courses-page {
	height: 275px;
	width: 100%;
	background-image: url("../images/flower-background-pickar-pic.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    }

    .top-background-about-me-page {
	height: 275px;
	width: 100%;
	background-image: url("../images/flower-background-pickar-pic.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    }

    .top-background-useful-links-page {
	height: 275px;
	width: 100%;
	background-image: url("../images/flower-background-pickar-pic.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    }

    .top-background-gardener-page {
	height: 275px;
	width: 100%;
	background-image: url("../images/flower-background-pickar-pic.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    }

    .section {
	margin-top: 25px;
	padding-top: 20px;
	padding-left: 100px;
	padding-right: 120px;
    }

    .section-title {
	font-size: 26px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #045FB4;
    }

    .section-subtitle {
	padding-top: 6px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #0174DF;
    }

    .section-content {
	padding-top: 5px;
	font-size: 15px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #848484;
    }

    .moving-text {
	color: #848484;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	position: relative;
	animation-name: news-moving-text;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	/* for Safari 4.0-8.0: */
	-webkit-animation-name: news-moving-text;
	-webkit-animatinn-duration: 4s;
	-webkit-animation-fill-mode: forwards;
    }

    #moving-text-1 {
        animation-timing-function: linear;
    }

    #moving-text-2 {
        animation-timing-function: ease;
    }

    #moving-text-3 {
        animation-timing-function: ease-in;
    }

    #moving-text-4 {
        animation-timing-function: ease-out;
    }

    /* Safari 4.0-8.0 */
    @-webkit-keyframes news-moving-text {
        from {left: 0px;}
        to {left: 50px;}
    }

    /* Standard syntax */
    @keyframes news-moving-text {
        from {left: 0px;}
        to {left: 50px;}
    }

    .lecture-container {
        margin-top: 30px;
        width: 100%;
        height: 350px;
        font-size: 16.5px;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        color: #848484;
    }

    .lecture-sub-container-1 {
        display: inline-block;
        width: 50%;
        height: 100%;
        float: left;
        padding: 10px;
    }

    .lecture-sub-container-2 {
        display: inline-block;
        width: 50%;
        height: 100%;
        float: right;
        padding: 10px;
    }

    .lecture-text-container {
        padding: 50px 20px 20px 10px;
    }

    .lecture-title-container {
        width: 100%;
    }

    .lecture-title-text {
        font-size: 24px;
        font-weight: bold;
        color: #0174DF;
    }

    .lecture-title-icon {
        display: inline-block;
        margin-right: 8px;
        width: 26px;
        height: 26px;
        background-image: url("../images/lectures/blue-book-icon.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .lecture-attachment-container {
	margin-bottom: 0px;
    }

    a.lecture-attachment-link {
	margin-left: 10px;
	text-decoration: none;
	decoration: none;
    }

    .lecture-attachment-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url("../images/lectures/yellow-file-icon.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
    }

    .lecture-pic-container {
	padding: 15px;
	width: 100%;
	height: 100%;
    }

    .garden-pic-container {
	width: 80%;
	height: 80%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
    }

    .garden-pic {
	width: 100%;
	border-radius: 20px;
    }
}

.imageSlides {
    display: none;
    /* ensure image is in center*/
}

/* Fading Animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.image-number-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    padding: 12px 12px;
    position: absolute;
    top: 0;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -25px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}

.image-select-dot {
    text-align: center;
    padding-top: 15px;
}

.select-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #BBBBBB;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .select-dot:hover {
    background-color: #4C4C4C;
}

.navigation-bar-horizontal-background {
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #A9D0F5;
    opacity: 0.8;
}

.navigation-bar-horizontal {
    list-style-type: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 100px;
    width: 100%;
}

.navigation-item-horizontal {
    float: left;
}

.navigation-item-horizontal a {
    display: block;
    color: #6E6E6E;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.navigation-item-horizontal a:hover {
    color: #4CAF50;
}

.navigation-item-active {
    color: #4CAF50;
    font-weight: bold;
}

.right-body-link a:hover, a:active {
    text-decoration: none;
    color: #4CAF50;
}

.right-body-link a:link, a:visited {
    text-decoration: underline;
    color: #848484;
    font-weight: bold;
}

.text-emphasize {
    font-weight: bold;
    font-style: italic;
}

.garden-pic {
    width: 100%;
    border-radius: 20px;
}

.garden-pic-1 {
}

.garden-pic-2 {
    background-image: url("../images/garden-pic-2.png");
}

.garden-pic-3 {
    background-image: url("../images/garden-pic-3.png");
}

.garden-pic-4 {
    background-image: url("../images/garden-pic-4.png");
}

.garden-pic-5 {
    background-image: url("../images/garden-pic-5.png");
}

.garden-pic-6 {
    background-image: url("../images/garden-pic-6.png");
}

@keyframes garden-pic-transition {
    from {opacity: 0;}
    to {opacity: 1;}
}

.music-box {
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 160px;
}

.music-text {
    font-style: italic;
    font-weight: bold;
    font-color: #3A3C3E;
}

.me105-content-wrapper {
}

.me105-lectures-table table {
    border-collapse: collapse;
}

.me105-lectures-table table, th, td {
    border: 2px solid #045FB4;
}

.me105-lectures-table th, td {
    height: 80px;
    width: 150px;
    text-align: center;
}

.table-first-row {
    font-weight: bold;
}

.paper-intro-background {
    padding: 5px;
    background-color: #EAEFF7;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-size-24 {
    font-size: 24px;
}
